.mainDiv {
    position: absolute;
    height: 100vh;
    width: 98.7vw;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    height: 65%;
    width: 40%;
    background-color: white;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10%;
    color: red;
    right: 10%;
    height: 10%;
    width: 5.5%;
    cursor: pointer;
}

.mainContainer h3 {
    margin-bottom: 5%;
}

.mainContainer form {
    width: 65%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 5%;
}

.mainContainer button {
    width: 60%;
    margin-left: 20%;
    height: 18%;
    border-radius: 2vh;
    border: none;
    background-color: #73ABFF;
    font-weight: 800;
    cursor: pointer;
}

.inputDiv {
    height: 18%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.inputDiv input {
    width: 63%;
    border: 1.6px solid black;
    padding: 2%;
}

.viewImg {
    position: absolute;
    right: 2%;
    top: 20%;
    cursor: pointer;
}

.mainContainer span {
    color:  red;
    font-size: 0.7em;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .mainContainer {
        height: 80%;
        width: 80%;
    }
    
    .mainContainer h3{
        font-size: 1.6em;
        font-weight: 800;
    }

    .close {
        top: 5%;
        right: 5%;
        height: 5%;
        width: 11%;
    }
    
    .mainContainer form {
        width: 80%;
        height: 40%;
        margin-top: 10%;
        font-size: 1.2em;
    }
    
    .mainContainer button {
        width: 70%;
        margin-left: 15%;
        height: 20%;
    }
    
    .inputDiv{
        flex-direction: column;
        height: 27%;
    }

    .inputDiv input {
        width: 100%;
        height: 47%;
        font-size: 0.9em;
    }
    
    .viewImg {
        top: 44%;
        right: 0%;
        width: 10%;
        height: 50%;
    }

    .mainContainer button {
       height: 15%;
       color: white;
    }
}
